:root {
  --primaryColor: rgb(223, 56, 50);
  --textColor: black;
  --bgColor: #fef2da;
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background-color: var(--bgColor);
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--bgColor);
}

button:hover {
  text-decoration: underline;
}

h1,
h2 {
  font-family: "Neucha";
  color: var(--primaryColor);
  font-size: 24px;
}

@media screen and (min-width: 457px) {
  h1,
  h2 {
    font-size: 32px;
  }
}

p {
  font-family: "Exo2";
  font-size: 16px;
}

a {
  font-family: "Exo2";
  text-decoration: none;
  font-size: 16px;
  color: var(--textColor);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 4px 12px 4px;
}

@media screen and (min-width: 457px) {
  .top {
    margin: 12px 32px 12px 32px;
  }
}
